@{
    ViewData["Title"] = "Change Password";
}

@using Microsoft.AspNetCore.Http;

@section NavLinks{
    @Html.ActionLink("Logout", "Logout", "Auth", new { }, new { id = "a_Logout" })
    
    @{
        var GroupName = string.Empty;

        bool? IsAutenticated = User.Identity?.IsAuthenticated;
        if (IsAutenticated != null && IsAutenticated == true) //To check the user is autenticated.
        {
            if (User.IsInRole("Admin")) //To check the iser is in admin role.
            {
                @Html.ActionLink("Manage Users", "Index", "ManageUsers", new { }, new { id = "a_ManageUsers" })
            }
            else
            {
                @Html.ActionLink("View/Update Personal Details", "Index", "PersonalDetails", new { }, new { id = "a_PersonalDetails" })
            }
        }
    }
}

<div class="cssDiv_ChnagePassword">
    <div class="cssDiv_ChangePasswordHead">
        <h3>Change Password</h3>
    </div>
    <form asp-controller="Auth" asp-action="ChangePassword" method="post" onsubmit="js_ValidateFormChangePass(event)" class="cssForm_ChangePassword">
        @{
            if (ViewBag.responseData != null) //To check there is the response data.
            {
                var objResponse = Newtonsoft.Json.JsonConvert.DeserializeObject(ViewBag.responseData);
                <div class="alert alert-@objResponse.Severity alert-dismissible fade show" role="alert">
                    @if (objResponse.ErrorCode != 0) //To check the error code is zero.
                    {
                        <strong>@objResponse.ErrorCode</strong>
                    }
                    @objResponse.ErrorMessage
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
        }
        <div class="form-group mb-3">
            <label for="input_OldPassword" class="cssLabel_baseStyle mb-2">Enter Old Password:</label>
            <input type="password" class="cssInput_baseStyle form-control" name="input_OldPassword" id="input_OldPassword" onfocusout="js_CheckOldPassword('@User.Identity?.Name')" required>
        </div>
        <div class="form-group mb-3">
            <label for="input_NewPassword" class="cssLabel_baseStyle mb-2">Enter New Password:</label>
            <input type="password" class="cssInput_baseStyle form-control" name="input_NewPassword" id="input_NewPassword" required>
            <span class="cssSpan_Error" id="span_NewPassword"></span>
        </div>
        <div class="form-group mb-3">
            <label for="input_ReenterPassword" class="cssLabel_baseStyle mb-2">Re-enter New Password:</label>
            <input type="password" class="cssInput_baseStyle form-control" name="input_ReenterPassword" id="input_ReenterPassword" required>
            <span class="cssSpan_Error" id="span_ReenterPassword"></span>
        </div>
        <div class="cssDiv_ChangePasswordBtns mb-2">
            <button type="submit" class="btn btn-success cssButton">OK</button>
            <input type="reset" class="btn btn-secondary cssButton" value="Reset">
        </div>
    </form>
</div>

@section Scripts
{
    <script src="~/js/Auth.js" asp-append-version="true"></script>
}